<!DOCTYPE HTML>
<html>
<head>
  <th:block th:include="layout/header"></th:block>
</head>

<body>
<h1>스프링 부트로 시작하는 웹 서비스</h1>
<div>
  <div class="row">
    <div class="col-md-6">
      <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
      <div th:if="${userName} != null">
        Logged in as : <span id="user" th:text="${userName}"></span>
        <a href="/logout" class="btn btn-info active" role="button">Logout</a>
      </div>

      <div th:unless="${userName} != null">
        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
      </div>
    </div>
  </div>

  <br>
  <!-- 목록 출력 영역 -->
  <table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
      <th>게시글번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>최종수정일</th>
    </tr>
    </thead>

    <tbody id="tbody">
      <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}" th:onclick="|location.href='@{/posts/update/{id}(id=${post.id})}'|"></td>
        <td th:text="${post.author}"></td>
        <td th:text="${post.modifiedDate}"></td>
      </tr>
    </tbody>
  </table>
</div>
<th:block th:include="layout/footer"></th:block>
</body>
</html>